

body {
    text-align: center;
    background-color: pink;
}

.Image3 {
    width:260px;
    height:180px;
}

.Image2 {
    width: 260px;
    height: 180px;
}

.Image1 {
   width: 260px;
    height: 180px
}

.Image4 {
    width: 260px;
    height: 180px;
}

.Image5 {
    width: 260px;
    height: 180px
}

.Image6 {
    width: 260px;
    height: 180px
}
